body{
	background-color: #f4f4f4;
	line-height: 1.6em
	font-size:16px;
	/*font-family: */
}

img{
	border: 0px;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;	
}


a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color:#d18e59;
}

.width{
	min-width: 1800px;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.container{
	width: 80%;
	margin:auto;
}

.container-showcase{
	width:1300px;
	text-align: center;
	margin:auto;
}

.pcontainer{
	width: 1300px;
	margin: auto;
}
.research-container{
	width: 80%;
	margin:auto;
}

.research-container h1{
	text-align: center;
	color: #8d222c
}


.media-container{
	width: 50%;
	margin:auto;
}

#main-header{
	background-color: #8d222c;
	/*background-image: url("../images/physics.jpg");*/
	color:#fff;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 50px;
}

#navbar{
	background-color: #333;
	color:#fff;
	padding:10px

}

#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li{
	display: inline;

}

#navbar a{
	color:#fff;
	font-size: 20px;
	text-decoration: none;
	padding-right: 30px
}

#navbar a:hover{
	color:#8d222c;
	font-weight: bold;
}

#showcase{
	margin: 0;
	padding:0;
	background-color: #ddd;
	width: 100%;
	height: 900px;
	overflow-y: hidden;

}

#showcase h1{
	text-align: center;
	margin-top:20px;
	color: #8d222c;

}

#showcase h2{
	text-align: center;
}

#showcase p{
	font-size: normal 100%;
	line-height: 1.5em;
}


.imgbox{
	text-align: center;
	border: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.imgbox img{
	width: 50%;
	position: relative;
}

.information{
	font-size: 15px;
	color:#fff;
	padding-left: 40px;
	margin-bottom: 0px;
}
.contact-left{
	
	background-color: #404040;
	margin-bottom: 0px;
}

.email{
	background: url("./images/pic-email.png") no-repeat 0px 4px;
}

.address{
	background: url("./images/pic-address.png") no-repeat 0px 2px;
}

.address-list{
	float: right;
	display: block;
	width: 433px;
	line-height: 27px;
	font-size: 15px;
}

#main {
	padding-left: 40px;
	padding-right: : 40px;
}

#main-footer{
	background-color: #8d222c;
	color:#fff;
	padding: 10px;
	margin-top:0px;
}

.research-field{
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.research-content{
	display: block;

	

}

.research-content h1{
	font-size: 25px;
}

.research-content p{
	font-size: 20px;
	line-height: 30px;
	text-align: left;
}

.media{
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 1fr 2fr ;
	text-align: left;
	grid-row-gap: 1em;
	border: 3px  dotted #ccc;
	padding: 0px;
	margin: 20px 0;
	

}

.media > div{
	background: #eee;
	padding: 1em;
}


.media-photo{
	display: grid;
	grid-template-rows: 1fr ;
	back
	text-align: center;

}

.media-words{
	text-align: left;

}


.paper-content{
	margin-top: 40px;
}

.paper-content	ul{
	border:1px solid #0000fff;

}

.paper-content li{
	padding-left: 30px;
	line-height: 30px;
	border-bottom: 1px dotted #8d222c;
}

.categories{
	padding: 10px;
	border: 1px #ccc solid ;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
}

.categories li{
	padding-bottom: 5px;
	border-bottom: 2px #000 solid;
	list-style-image: url(images/check.jpg);

}

.block{
	float:left;
	width: 33.3%;
	border: 1px dotted #ccc;
	padding: 10px;
	box-sizing: border-box;
}

#main-box{
	float: left;
	width:70%;
}



@media screen and (max-width: 700px){
	.media{
		grid-template-columns: 1fr
	}
}