

.article-area{
	border-bottom: 1px solid #ebebeb;
	padding-top: 50px;
	padding-bottom: 50px;
}

.article-area p{
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	color:#47425d


}
.entry-title{
	font-size: 36px;
	font-weight: 500;
	color: #47425d;
}

.research-title{
	font-size: 36px;
	font-weight: 500;
}

.entry-date{
	color: #68647a;
	text-align: center;
	font-size: 13px;
	text-decoration: underline;
}

.entry-passage{
	margin-bottom: 24px;
}

